.logo {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  width: 160px;
}

.image {
  object-fit: contain;
  width: auto;
  height: auto;
}

.lightLogo {
  display: block;
}

.darkLogo {
  display: none;
}

:global(.dark) .lightLogo {
  display: none;
}

:global(.dark) .darkLogo {
  display: block;
}
